@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../public/font/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../public/font/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("../../public/font/Poppins-Black.ttf");
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

h2, button, .MuiPickersCalendarHeader-label, span {
  font-family: "Poppins-Bold" !important;
}

h1{
  font-family: "Poppins-Black" !important;
}

p{
  font-family: "Poppins-Regular" !important;
}

.MuiDataGrid-main{
  height: 630px;
}

.MuiButtonBase-root > .MuiSvgIcon-root, .MuiDayCalendar-header > span{
  /* color: #efa135; */
}

.MuiPickersDay-today{
  border: 1px solid #efa135 !important;
  border-radius: 0.375rem !important;
}

/* .Mui-selected{
  background-color: #efa135 !important;
  border-radius: 0.375rem !important;
} */

.MuiTabs-indicator{
  background-color: #efa135 !important;
}

.Mui-selected{
  color: #efa135 !important;
}

.MuiDataGrid-cell{
  white-space: normal !important;
  word-break: break-all;
}

/*
LIGHT MODE

white 
sfondo grigio componenti  #f4f4f7
grey    #bbc3ce
black   #474862
blue    #0066ff
yellow  #efa135

DARK MODE

white
grey
black 

*/