@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../public/font/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../public/font/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("../../public/font/Poppins-Black.ttf");
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

h2{
  font-family: "Poppins-Bold" !important;
}

h1, span{
  font-family: "Poppins-Black" !important;
}

p{
  font-family: "Poppins-Regular" !important;
}

.MuiButtonBase-root > .MuiSvgIcon-root, .MuiDayCalendar-header > span{
  color: #0066ff;
}

.MuiPickersDay-today{
  border: 1px solid #0066ff !important;
}

.Mui-selected{
  background-color: #0066ff !important;
}

.MuiDateCalendar-viewTransitionContainer{
  background-color: white;
  border-radius: 0.5rem;
}

/*
LIGHT MODE

white 
grey    #bbc3ce
black   #474862
blue    #0066ff

DARK MODE

white
grey
black 

*/